header {
  background: #DC2424;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4A569D, #DC2424);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4A569D, #DC2424); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

h1 {
  margin: 0;
  text-shadow: 1px 1px 2px #000;
}

.container {
  max-width: 50rem;
  margin: 0 auto;
}

.meme-form {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.meme {
  margin-top: 20px;
  text-align: center;
  position: relative;
}

.meme h2 {
  margin: 0;
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 42px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.meme .top {
  top: 5px;
}

.meme .bottom {
  bottom: 5px;
}